
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Kamp Tablo Ornegi</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Adi</th>
        <th>Aciklama</th>
        <th>Durum</th>
        <th>Guncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>Egitim Satiri</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Aciklama Yapildi</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Bekleniyor</td>
        <td>True</td>
        <td><button class="btn btn-success">Guncelle</button></td>
    </tr>
</table>
<button class="btn btn-info">Kategori Ekle</button>
<button class="btn btn-warning">Kategori Listele</button>
<button class="btn btn-danger">Kategori Aciklama</button>

